**/logs
venv/
**/*.log
**/Dockerfile
**/Jenkinsfile
**/pylintrc
**/*.md
**/*.ipynb
**/*.pytest_cache
**/coverage
**/tests/reports
**/*__pycache__
**/__pycache__
**/*.git
**/.vscode
**/files
Dockerfile
Dockerfile_prod
Jenkinsfile
.idea
.pydeps
.kpt-pipeline
.gitignore
.benchmarks
*.skaffold.yaml
